<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <% if login? %>
    <%= current_user.user_name %>
    <%= button_to "Logout", session_url, method: :delete %>
    <% elsif !login? %>
    <%= button_to "LogIn", new_session_url, method: :get %>
    <%end%>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
